html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

footer {
  text-align: center;
  margin-top: 10px;
  font-size: 0.9em;
  color: #666;
}

footer a {
  color: #3a3a3a;
  text-decoration: none;
  font-weight: 600;
  transition: background-size 0.4s ease;
}

footer a:hover {
  /* background-image: linear-gradient(90deg, #ff6ec4, #7873f5, #49c6e5, #1dd1a1, #feca57, #ff9a9e); */
  background-image: linear-gradient(90deg, #b993d6, #8ca6db);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  letter-spacing: 0.5px;
}

textarea {
  box-sizing: border-box;
  margin-left: 3px;
  border: 2px solid #000000;

  font-family: monospace;
  font-size: 13px;
  line-height: 20px;

  background: repeating-linear-gradient(
    to bottom,
    #ffffff 0px,
    #ffffff 20px,
    #f5f5f5 20px,
    #f5f5f5 40px
  );

  background-attachment: local;
  background-size: auto;
}

button {
  background-color: #6faaff;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 8px 12px;
  margin: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
  font-family: 'Pretendard', sans-serif;
}

@media (hover: hover) and (pointer: fine) {
  button:hover {
    background-color: #4e94e6;
    transform: translateY(-2px);
  }
}

button:active {
  background-color: #3c7ad1;
  transform: translateY(0);
}

input[type="checkbox"] {
  vertical-align: middle;
  width: 40px;
  height: 20px;
  position: relative;
  appearance: none;
  background: #c6c6c6;
  outline: none;
  border-radius: 20px;
  transition: background 0.3s;
  cursor: pointer;
}

input[type="checkbox"]::before {
  content: '';
  position: absolute;
  width: 18px;
  height: 18px;
  background: white;
  border-radius: 50%;
  top: 1px;
  left: 1px;
  transition: transform 0.3s;
}

input[type="checkbox"]:checked {
  background: #6faaff;
}

input[type="checkbox"]:checked::before {
  transform: translateX(20px);
}